<div [ngSwitch]="type" routerLink="/errors">

  <div *ngSwitchCase="allIconTypes.success" class="screenAlert-icon screenAlert-success animate" routerLink="/errors">
    <span class="screenAlert-line screenAlert-tip animateSuccessTip"></span>
    <span class="screenAlert-line screenAlert-long animateSuccessLong"></span>
    <div class="screenAlert-placeholder"></div>
    <div class="screenAlert-fix"></div>
  </div>

  <div *ngSwitchCase="allIconTypes.error" class="screenAlert-icon screenAlert-error animate">
    <span class="screenAlert-x-mark" >
      <span class="screenAlert-line screenAlert-left animateXLeft"></span>
      <span class="screenAlert-line screenAlert-right animateXRight"></span>
    </span>
    <div class="screenAlert-placeholder"></div>
    <div class="screenAlert-fix"></div>
  </div>

</div>

