<div class=" content">
  <h1>Cél nyomás</h1>
  <div style="display: flex">
    <div style="align-items: center; text-align: center; justify-content: center;">
      <button class="btn btn-link" type="button" (click)="add()">
        <span class="chevron"></span>
      </button>
      <input style="display: inline-block" [(ngModel)]="goalPressure" (ngModelChange)="change($event)" type="text"
        class="form-control" inputmode="numeric" maxlength="2" style="width: 50px; height: 50px; text-align: center;">
      <button class="btn btn-link" type="button" (click)="descrease()">
        <span class="chevron bottom"></span>
      </button>
    </div>
    <label for="" style="align-self:center;margin-left: 10px; margin-bottom: 0"> bar</label>
  </div>
  <h1 style="margin-top: 30px;">Frekvenciaváltó kapcsolási sorrend</h1>

  <div style="display: flex; gap: 20px">
    <div *ngFor="let pump of pumpOrder" class="box">
      <div class="box-content">
        <div>
          {{pump.name}}
        </div>
        <button class="btn btn-link" type="button" (click)="moveUp(pump.id)">
          <span class="chevron left"></span>
        </button>
        <button class="btn btn-link" type="button" (click)="moveDown(pump.id)">
          <span class="chevron right"></span>
        </button>
      </div>
    </div>
  </div>
</div>